.main{
    position: fixed;
    top:0;
    left:0;
    right: 0;
    z-index: 1;
    background: url("../image/background_img/background_img_004.jpg") top center /cover no-repeat;
    padding: 0 12px;
    box-shadow: 0 1px 5px 1px rgba(189, 154, 161, 0.5);
    border-radius: 2px;
    
}
/* Dùng lớp giả để set background-img của main */
/* .main::after{
    content: ""; không đc thiếu 
    position:absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background: url("../image/background_img/background_img_004.jpg") top center /cover no-repeat; cover: chiều ngang = width
    opacity: 1;
    z-index: -1;
} */
.main-music{
    width: 351px;
    padding: 12px;

}

.header-music{
    display: flex;
    justify-content: space-between;
    height : 60px;
    align-items: center;
}
.name-music{
    text-align: center;
    font-family: var(--font-text);
    font-size: var(--font-size);
}
.name-music p{
    color: var(--color-icon);
}
.name-music h3{
    opacity: 0.9;
}

.cd-music{
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cd-img img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    box-shadow: 0 0 20px 5px #ccc;
}

.operation-music ul{
    height: 40px;
    width: 327px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}
.operation-music ul li{
    color: var(--color-text);
    font-size: var(--size-xl);
}
.pause-item{
    color: var(--color-icon)!important;
    font-size: var(--size-big)!important ;
}
.audio-music{
    height: 30px;
    display: flex;
    align-items: center;
}
.audio-music .audio{
    width: 100%;
    height: 5px;
    background: olive;
}

/* CSS musics start */
.musics{
    margin-top: 354px;
    width: 375px;
    background-color: var(--background-color);
    padding: 20px 12px;
    
}


.musics .music-item{
    width: 351px;
    height: 80px;
    background-color: var(--white-color);
    list-style: none;
    margin-bottom: 12px;
    border-radius: 5px;
    box-shadow: 0 0 10px 1px rgba(189, 154, 161, 0.5);
    padding: 10px 20px;
}
.music-item .music-item-content{
    display: flex;
    height: 60px;
    font-size: var(--size-l);
    align-items: center;
    justify-content: space-evenly;
}
.music-item .music-item-img{
    width: 52px;
    height: 52px;
    margin-right: 24px;
    border-radius: 50%;

}

.music-item .music-item-description{
    width: 195px;
    font-family: var(--font-text);
    font-weight:400;
}
.music-item .details{
    width: 40px;
    text-align: center;
}
.music-item i,p{
    color: var(--color-text);

}
.music-item i{
    font-size: var(--size-xxl);
}
/* CSS musics end. */